<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="styling">
        <link rel="stylesheet" type="text/css" th:href="@{/media/DataTables/Bootstrap-4-4.0.0/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/media/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/logist-styling.css}">
        <script src="/media/jQuery-2.1.4/jquery-2.1.4.js"></script>
        <script th:src="@{/media/DataTables/Bootstrap-4-4.0.0/js/bootstrap.js}"></script>
    </th:block>
    <th:block th:fragment="scripts-no-const">
        <link rel="stylesheet" type="text/css" href="/media/DataTables/Bootstrap-4-4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/media/DataTables/DataTables-1.10.16/css/dataTables.bootstrap4.css"/>
        <link rel="stylesheet" type="text/css" href="/media/Selectize/css/selectize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/media/DataTables/Buttons-1.5.1/css/buttons.bootstrap4.css"/>
        <link rel="stylesheet" type="text/css" href="/media/DataTables/Editor-1.7.3/css/editor.bootstrap4.css"/>
        <link rel="stylesheet" type="text/css" href="/media/FieldType-Selectize/editor.selectize.min.css"/>
        <link rel="stylesheet" type="text/css" href="/media/DataTables/Select-1.2.5/css/select.bootstrap4.css"/>
        <!--<link rel="stylesheet" type="text/css" href="media/datatables/datatables.css"/>-->
        <!--z-index:999-->
        <link rel="stylesheet" type="text/css" href="/media/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/main/css/main.css" th:href="@{/main/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/logist-styling.css}">
        <!--<link rel="stylesheet" type="text/css" th:href="@{/common/css/dropdown.css}">-->

        <script src="/media/jQuery-2.1.4/jquery-2.1.4.js"></script>
        <script src="/media/DataTables/Bootstrap-4-4.0.0/js/bootstrap.js"></script>
        <script src="/media/jquery-mask/dist/jquery.mask.min.js"></script>
        <script src="/media/Selectize/js/standalone/selectize.min.js"></script>
        <script src="/media/DataTables/datatables.js"></script>
        <script src="/media/DataTables/DataTables-1.10.16/js/dataTables.bootstrap4.js"></script>
        <script src="/media/DataTables/Buttons-1.5.1/js/buttons.bootstrap.js"></script>
        <script src="/media/DataTables/Editor-1.7.3/js/dataTables.editor.js"></script>
        <script src="/media/DataTables/Editor-1.7.3/js/editor.bootstrap4.js"></script>
        <script src="/media/FieldType-Mask/editor.mask.min.js"></script>
        <script src="/media/FieldType-Selectize/editor.selectize.min.js"></script>
        <script src="/media/DataTables/Select-1.2.5/js/dataTables.select.js"></script>
        <script src="/media/DataTables/moment.js"></script>

    </th:block>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row logist-navbar" th:fragment="header (pageName)">
    <ul class="navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link" th:classappend="${#strings.equals(pageName,'orders')} ? 'active' : ''" href="/orders">
            Рабочий стол
            <span class="badge badge-primary" th:if="${managedOffers!=null && #lists.size(managedOffers) > 0}" th:text="${#lists.size(managedOffers)}"></span>
            <span class="badge badge-success" th:if="${pendingOrders!=null && #lists.size(pendingOrders) > 0}" th:text="${#lists.size(pendingOrders)}"></span>
            <span class="badge badge-warning" th:if="${pendingOpinions!=null && pendingOpinions>0}" th:text="${pendingOpinions}">
        </a>
        </li>
        <li class="nav-item" th:classappend="${#strings.equals(pageName,'admin')} ? 'active' : ''" ><a class="nav-link" href="/main" target="_self">
            Настройки
            </span>
        </a></li>
        <li class="nav-item" sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'><a class="nav-link"
                                                                                                href="/swagger-ui.html"
                                                                                                target="_blank">
            API</a></li>
        <li class="nav-item"  sec:authorize='hasAnyAuthority("ROLE_ADMIN","ROLE_DISPATCHER")'><a class="nav-link" href="/pdf-info" target="_blank"> О программе</a></li>
    </ul>

    <ul class="navbar-nav ml-md-auto d-none flex-row d-md-flex">
        <li class="nav-item dropdown">
            <a class="nav-item nav-link  dropdown-toggle" id="userDropdown"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authentication="user.username"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!--<a class="dropdown-item" href="/profile"><i class="fa fa-user" aria-hidden="true"></i>-->
                <!--Личный кабинет-->
                <!--</a>-->
                <a class="dropdown-item" th:href="@{logout}"><i class="fa fa-sign-out" aria-hidden="true"></i></i> Выход</a>
            </div>
        </li>
    </ul>
</header>
<div class="pull-right" th:fragment="footer" style="margin: 10px"><small class="text-muted">Logicsmart</small></div>
</body>
</html>