<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="stylesheet" th:href="@{login/css/style.css}"/>
    <th:block th:include="fragments/header :: styling"></th:block>
    <!--custom js-->
    <!--<script type="text/javascript" src="content/js/login.js"></script>-->

</head>
<body class="grey">
<div class="container">
    <div class="main">
        <p th:if="${loginError}" class="error">Неправильный логин или пароль</p>
        <form class="form form" method="post" th:action="@{login}">
            <div class="input-group">
                <label for="username">Логин :</label>
                <input type="text" placeholder="Введите логин" name="username" autofocus="autofocus" id="username">
            </div>

            <div class="input-group">
                <label for="passwordInput">Пароль :</label>
                <input type="password" placeholder="Введите пароль" name="password" id="passwordInput">

            </div>
            <div class="form-check" style="margin-bottom: 10px;">
                <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
            </div>


            <div id="loginErrorContainer"></div>
            <a th:href="@{register}" class="btn">Регистрация</a>
            <input type="submit" class="btn" name="login" id="loginButton" value="Войти">
        </form>
    </div>
</div>
<!--<p><a href="/index" th:href="@{/index}">Back to home page</a></p>-->
</body>
</html>

