<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <script src="/media/jQuery-2.1.4/jquery-2.1.4.js"></script>
    <script>
        function getNewReading() {
            $.get("data/getNewReading", function (data) {
                console.log(data);
                $("#getNewReadingOutput").val(JSON.stringify(data));
            })
        }

        function getLastReading() {
            $.get("data/getLastReading", function (data) {
                console.log(data);
                $("#getLastReadingOutput").val(JSON.stringify(data));
            })
        }

        function getAllReadings() {
            $.get("data/getAllReadings", function (data) {
                console.log(data);
                $("#getAllReadingsOutput").val(JSON.stringify(data));
            })
        }
    </script>
    <style>
        textarea {
            min-width: 800px;
            min-height: 200px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Получить новое значение</h3>
    <div>
        <button onclick="getNewReading()">Получить новое значение</button><br>
        <textarea id="getNewReadingOutput"></textarea>
    </div>
    <br>
    <h3>Получить последнее значение</h3>
    <div>
        <button onclick="getLastReading()">Получить последнее значение</button><br>
        <textarea id="getLastReadingOutput"></textarea>
    </div>
    <br>
    <h3>Получить все значения</h3>
    <div>
        <button onclick="getAllReadings()">Получить новое значение</button><br>
        <textarea id="getAllReadingsOutput"></textarea>
    </div>
</div>
</body>
</html>